/*
 *= require rtc.css.scss
 */

.input-xs {
    position: relative;
    height: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 0%;
    font-size: 70%;
    /*line-height: 1.5; !* If Placeholder of the input is moved up, rem/modify this. *!*/
    border-radius: 0%;
    border-color: #4d7fa9;
    background-color: #4d7fa9;
    color: #9ebad1;
}

.full-width{
  position: relative;
  width: 98%;
}

.input-full{
    padding-bottom: 1.5%;
    position: relative;
    width: 100%;
    height: 200%;
    resize: none;
}

.search {
    /*padding-top: 0%;*/
    font-size: 70%;
    color: #9ebad1;
}

.rtc-body{
    background-color: #F5F5F5;
    text-align: center;
}

.form-control::-webkit-input-placeholder {
    color: #9ebad1;
    opacity: 1;
    text-align: left;
}

#summary {
  width: 7.5%;
}

#summary-text {
  width: 80%;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.no-horizontal-padding{
    padding-left: 0;
    padding-right: 0;
    position: relative;
    padding-top: 2%;
    padding-bottom: 2%;
}

.container-max-width {
    max-width: 1600px;
}

#card-fields{
  width: 80%;
}

.shrink-col{
    width: 2%;
}

.center-div {
    max-width: 100%;
    text-align: center;
}

.square-border{
    border-radius: 0;
}

.no-top-border{
    border-top: none;
}

.no-top-margin{
    margin-top:0!important;
}

.no-bottom-margin{
    margin-bottom: 0!important;
}

.rtc-panel {
    padding: .5%;
}
